@import '../../Styles/Styles.scss';

.About{
	width: 100%;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	.Flex_container{
		display: flex;
		flex-direction: column;
		div{
			margin: 20px;
			display: flex;
			flex-basis: 100%;
		}
	}
	h1{
		@include h1Styles;
	}
}



.SpanInterval{
	border: 1px solid rgb(255, 0, 0);

	overflow-y: hidden;
	p{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px 40px;
		line-height: 1.25;
		word-spacing: 4px;
		letter-spacing: 1.25px;

	}
}

@media (min-width: 820px){
	.About{
		
		.Flex_container{
			flex-direction: row;
			
		}
	}
}