

.Intro{

	background: url('../../assets/mobileBg.jpg') fixed no-repeat;
	background-size: cover;
	height: 100vh;

}

@media(min-width: 820px){
	.Intro{
		background: url('../../assets/background.jpg') fixed no-repeat;
		background-size: cover;
	}
	
}