@import '../../Styles/Styles.scss';


	.Navbar{ 
		background-color: transparent;
		height: 70px;
		@include nav;		
		
		
		
		
		
	}
	
.NavbarFixed{
	background-color: #212121;
	height: 50px;
	@include nav;		

}


@media(max-width: 770px){
	.Navbar, .NavbarFixed{
		display: none;
	}
}